body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #17a2b8;
    background-color: lightyellow;
}

header {
    text-align: center;
    background-image: url("../images/halftone-yellow.png");
    padding: 40px;
    margin-bottom: 20px;
}

#preloadedGifs {
    margin-bottom: 10px;
}
.btn-info {
    margin-top: 10px;
    margin:10px;
}

.gifContainer {
    text-align: center;
}